__pycache__/
.ipynb_checkpoints/
.vscode/
data/100*
results/
exp_data/
figures/processed/
motor_model.egg-info/
old/
paper_env/
results*
simulation/__pycache__/
simulation/.ipynb_checkpoints/
synced/
tasks/__pycache__/
tools/__pycache__/
tasks/.ipynb_checkpoints/
results_old/
